# virtual environment
mlops/

# training outputs
model_*/               
outputs_*/

# MLflow tracking files
mlruns/
logs/

# system files
.DS_Store
__pycache__/
*.pyc

# Jupyter autosaves
notebooks/.ipynb_checkpoints/
